.version.index /* version checker */
{
	color: #0000F7;
	background-color: #59D29B;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1260px;
	min-height: 1273.5499999999527px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #000000 url("../images/1.jpg") no-repeat left top;
}

#page_position_content
{
	padding-top: 26px;
	padding-bottom: 63px;
	width: 0.01px;
}

#pu152
{
	width: 0.01px;
	margin-left: 28px;
}

#u152
{
	z-index: 72;
	width: 66px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #20D5FF;
	position: relative;
	margin-right: -10000px;
}

#u116-4
{
	z-index: 59;
	width: 537px;
	min-height: 38px;
	background-color: transparent;
	line-height: 47px;
	font-size: 39px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 75px;
}

#pwidgetu87
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 51px;
}

#widgetu87
{
	z-index: 2;
	width: 0.01px;
	height: 210px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#widgetu90
{
	z-index: 3;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu90.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 340px;
	height: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u91-4
{
	z-index: 4;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFBFA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u92-4
{
	z-index: 8;
	width: 328px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #0071C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu90.non-empty-st #u92-4
{
	border-style: none;
	background-color: #FFFFFF;
}

#widgetu90:hover #u92-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10001px -1px -1px;
}

#widgetu90.focus-st #u92-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10001px -1px -1px;
}

#widgetu90.non-empty-st #u92-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu90:hover #u92-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu90.focus-st #u92-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu100
{
	z-index: 12;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#widgetu100.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 340px;
	height: 46px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u102-4
{
	z-index: 13;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFBFA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu100.fld-err-st #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u103-4
{
	z-index: 17;
	width: 328px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #0071C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu100.non-empty-st #u103-4
{
	border-style: none;
	background-color: #FFFFFF;
}

#widgetu100:hover #u103-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10001px -1px -1px;
}

#widgetu100.focus-st #u103-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10001px -1px -1px;
}

#widgetu90.fld-err-st #u92-4,#widgetu100.fld-err-st #u103-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10001px -1px -1px;
}

#widgetu100.non-empty-st #u103-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu100:hover #u103-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu100.focus-st #u103-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u88-4
{
	z-index: 21;
	width: 166px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FFFBFA;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 140px;
}

#widgetu87.frm-sub-st #u88-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u98-4
{
	z-index: 25;
	width: 166px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FFFBFA;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 140px;
}

#widgetu87.frm-subm-err-st #u98-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 32px;
}

#widgetu87.frm-subm-err-st #u98-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u89-4
{
	z-index: 29;
	width: 166px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #FFFBFA;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 140px;
}

#widgetu87.frm-sub-st #u88-4,#widgetu87.frm-subm-ok-st #u89-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu87.frm-subm-ok-st #u89-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u99-17
{
	z-index: 33;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	background: url("../images/u99-17.png") no-repeat 0px 0px;
}

#u99-17:hover
{
	background: url("../images/u99-17-r.png") no-repeat 0px 0px;
}

#u99-17:active
{
	background: url("../images/u99-17-m.png") no-repeat 0px 0px;
}

#widgetu87.frm-sub-st #u99-17
{
	background: url("../images/u99-17-fs.png") no-repeat 0px 0px;
}

#widgetu94
{
	z-index: 50;
	width: 340px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
}

#widgetu94.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 340px;
	height: 51px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u97-4
{
	z-index: 51;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #FFFBFA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu90.fld-err-st #u91-4,#widgetu94.fld-err-st #u97-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu90.fld-err-st #u91-4 p,#widgetu90.fld-err-st #u91-4 span,#widgetu100.fld-err-st #u102-4 p,#widgetu100.fld-err-st #u102-4 span,#widgetu94.fld-err-st #u97-4 p,#widgetu94.fld-err-st #u97-4 span
{
	color: #D7244C;
}

#u95-4
{
	z-index: 55;
	width: 328px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #0071C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#widgetu94.non-empty-st #u95-4
{
	border-style: none;
	background-color: #FFFFFF;
}

#widgetu94:hover #u95-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 24px -10001px -1px -1px;
}

#widgetu94.focus-st #u95-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 24px -10001px -1px -1px;
}

#widgetu94.fld-err-st #u95-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 24px -10001px -1px -1px;
}

#widgetu94.non-empty-st #u95-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu94:hover #u95-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu94.focus-st #u95-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu90.fld-err-st #u92-4 *,#widgetu100.fld-err-st #u103-4 *,#widgetu94.fld-err-st #u95-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu90_input,#widgetu90_prompt,#widgetu100_input,#widgetu100_prompt,#widgetu94_input,#widgetu94_prompt
{
	width: 328px;
	min-height: 14px;
	color: #0071C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu90.focus-st #widgetu90_prompt,#widgetu100.focus-st #widgetu100_prompt,#widgetu94.focus-st #widgetu94_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu90:hover #widgetu90_input,#widgetu90.focus-st #widgetu90_input,#widgetu90.fld-err-st #widgetu90_input,#widgetu90:hover #widgetu90_prompt,#widgetu90.fld-err-st #widgetu90_prompt,#widgetu100:hover #widgetu100_input,#widgetu100.focus-st #widgetu100_input,#widgetu100.fld-err-st #widgetu100_input,#widgetu100:hover #widgetu100_prompt,#widgetu100.fld-err-st #widgetu100_prompt,#widgetu94:hover #widgetu94_input,#widgetu94.focus-st #widgetu94_input,#widgetu94.fld-err-st #widgetu94_input,#widgetu94:hover #widgetu94_prompt,#widgetu94.fld-err-st #widgetu94_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu90.non-empty-st #widgetu90_prompt,#widgetu100.non-empty-st #widgetu100_prompt,#widgetu94.non-empty-st #widgetu94_prompt
{
	visibility: hidden;
}

#u144-9
{
	z-index: 63;
	width: 522px;
	min-height: 191px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 721px;
}

#u144
{
	font-size: 36px;
	line-height: 43px;
}

#u144-2
{
	font-size: 24px;
	line-height: 29px;
}

#u144-3,#u144-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u144-5
{
	font-size: 20px;
	line-height: 24px;
}

#u144-6
{
	font-size: 22px;
	line-height: 26px;
}

#pu158
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 59px;
}

#u158
{
	z-index: 74;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u165-4
{
	z-index: 76;
	width: 265px;
	min-height: 78px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 97px;
}

#pu166
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 25px;
}

#u166
{
	z-index: 80;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u172-4
{
	z-index: 82;
	width: 265px;
	min-height: 87px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#pu173
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 42px;
}

#u173
{
	z-index: 86;
	width: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u180-4
{
	z-index: 88;
	width: 265px;
	min-height: 70px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 105px;
}

#pu182-5
{
	width: 0.01px;
	margin-left: 643px;
	margin-top: 155px;
}

#u182-5
{
	z-index: 92;
	width: 617px;
	min-height: 24px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	position: relative;
	margin-right: -10000px;
}

#u182-2
{
	color: #FFFFFF;
}

#u183-6
{
	z-index: 97;
	width: 479px;
	min-height: 30px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 17px;
}

#pu196
{
	width: 0.01px;
	margin-top: -1px;
}

#u196
{
	z-index: 103;
	width: 1219px;
	height: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u196
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u199
{
	z-index: 104;
	width: 1259px;
	height: 319px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 1262px;
	padding-top: 35px;
	padding-bottom: 266px;
}

#page .verticalspacer
{
	clear: both;
}

